<div class="row">
  <div class="container">
    <h1 align="center">Welcome to Pampered Panda</h1>
    
    <ul>
        <li><%= link_to "Register new venue", new_venue_path %></li>
        <li><%= link_to "Show all venues", venues_path %></li>
    </ul>
    
    <div class="center">
        <%= link_to "logout", destroy_user_session_path, method: :delete %>
    </div>
   </div>
</div>

